* {
    outline: 1px solid --tomato;
}

.top_banner {
    height: 116px;
    overflow: hidden;
    transition: 0.5s;
}

.top_banner.on {
    height: 0;
}

.top_banner .inner {
    position: relative;
    padding: 30px 0;
}

.top_banner strong {
    display: block;
    margin: 0 0 10px 0;

    font-size: 30px;
    font-weight: 700;
}

.top_banner a {
    margin: 0 0 0 20px;
}

.top_banner i {
    position: absolute;
    top: 30px;
    right: 0;

    font-size: 20px;
}

.header .inner {
    display: flex;
    line-height: 100px;
}

.header h1 {
    font-size: 0;
}

.header .gnb {
    margin: 0 20px 0 auto;
}

.header .gnb>ul {
    display: flex;
}

.header .gnb>ul>li>a {
    display: inline-block;
    padding: 0 20px;
    font-size: 18px;
}

.header .gnb>ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: #666;
}

.header .search input {
    outline: none;
    border: none;
    border-bottom: 1px solid #555;
    padding: 5px 0;
    width: 100px;
    transition: 0.5s;
}

.header .search input:focus {
    width: 120px;
}

.header .search input::placeholder {
    color: #ddd;
}

.header .search input:focus::placeholder {
    color: transparent;
}

.header .search button {
    background: transparent;
    border: none;
    font-size: 30px;
    line-height: 1;
}

/* mainVisual */

.mainVisual {
    position: relative;
}

.mainVisual .main_slide {}

.mainVisual .main_slide .slick-list,
.mainVisual .main_slide .slick-track {
    transition-delay: 0.03s;
}

.mainVisual .main_slide .itm {
    position: relative;
    height: 600px;
}

.mainVisual .main_slide .itm strong {
    display: block;
    margin: 0 0 10px 0;

    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 1px #000;
    text-indent: -4px;
}

.mainVisual .main_slide .itm p {
    margin: 0 0 30px 0;

    font-size: 15px;
    color: #fff;
    text-shadow: 0 0 1px #000;

}

.mainVisual .main_slide .itm .btn {
    display: inline-block;
    padding: 5px 30px 7px 30px;
    background: #444;
    color: #fff;
}

.mainVisual .main_slide .itm02 strong {
    color: #444;
    text-shadow: 0 0 1px #fff;
}

.mainVisual .main_slide .itm02 p {
    color: #444;
    text-shadow: 0 0 1px #fff;
}

.mainVisual .main_slide .itm01 {
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}

.mainVisual .main_slide .itm02 {
    background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}

.mainVisual .main_slide .itm03 {
    background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}

.mainVisual .main_slide .itm strong {
    opacity: 0;
    transform: translate(0, 100px);
    transition: 0.5s 0.5s;
}

.mainVisual .main_slide .itm.on strong {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 0.5s;
}

.mainVisual .main_slide .itm p {
    opacity: 0;
    transform: translate(0, 100px);
}

.mainVisual .main_slide .itm.on p {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 1s;
}

.mainVisual .main_slide .itm a {
    opacity: 0;
    transform: translate(0, 100px);
}

.mainVisual .main_slide .itm.on a {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 1.5s;
}

.mainVisual .main_slide .itm .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*  */

.mainVisual .main_slide_arrows button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 1px #000;
}

.mainVisual .main_slide_arrows button:first-child {
    margin: 0 0 0 -700px;
}

.mainVisual .main_slide_arrows button:last-child {
    margin: 0 0 0 700px;
}

.mainVisual .main_slide_dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    gap: 10px;
}

.mainVisual .main_slide_dots li button {
    background: #ff6347;
    color: #fff;
    padding: 5px;

    font-size: 13px;
}

.mainVisual .main_slide_dots li.on button {
    background: #333333;
}

.mainVisual .main_slide_num {
    position: absolute;
    top: 100px;
    left: 50%;

    margin: 0 0 0 600px;
    transform: translate(-100%, 0);

    color: #fff;
    font-size: 50px;

}

.mainVisual .main_slide_play {
    position: absolute;
    bottom: 100px;
    left: 50%;
    z-index: 1;

    margin: 0 0 0 600px;
    transform: translate(-100%, 0);
}

.mainVisual .main_slide_play button {
    background: #ff6347;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.mainVisual .main_slide_pic {
    position: absolute;
    bottom: -80px;
    left: 50%;
    margin: 0 0 0 300px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 3px 3px 0 #000;
    font-size: 0;
    background: url(../img/lesedilarona01.jpg) no-repeat center center/cover;
    transition: 0.5s;
}

.mainEvent figure {
    text-align: center;
    border-radius: 50px 50px 0 0;
    overflow: hidden;
}

.mainEvent figure .scale_box {
    margin: 0 0 20px 0;
    overflow: hidden;
}

.mainEvent figure .scale_box img {
    transition: 0.5s;
}

.mainEvent figure .scale_box:hover img {
    transform: scale(1.3);
}

.mainEvent figure .p_dec {
    margin: 0 0 20px 0;
}

.mainBanner {
    background: url(../img/mainvisual01.jpg) no-repeat fixed center center/cover;
    text-align: center;
    color: #fff;
    filter: grayscale(1);

    margin: 0 50px;
    border-radius: 30px;

}

.mainBanner i {
    padding: 10px;
    background: #000;
    border-radius: 50%;
    margin: 0 0 0 10px;
    vertical-align: -2px;
}

.mainPromotion .tit {
    width: auto;
    text-align: left;
}

.mainPromotion .movie {
    position: relative;
}

.mainPromotion .movie .label {
    position: absolute;
    top: 40px;
    right: -30px;
}

.mainPromotion video {
    width: 100%;
    border-radius: 30px;
}

.mainPromotion .promotion_dec {
    display: flex;
    align-items: center;

    padding: 0 0 0 30px;
    /* display: grid;
    place-items: center; */
}

.mainPromotion .promotion_play button {
    background: #ff6347;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.mainYoutube .left {
    display: flex;
    align-items: center;
}

.mainYoutube .tit {
    width: auto;
    text-align: left;
}



.mainYoutubeBg {
    color: #fff;

    margin: 0 50px;
    border-radius: 30px;
    overflow: hidden;
    transform: rotate(3deg);
}

.mainYoutubeBg .tit {
    transform: rotate(-3deg);
}

.mainYoutubeBg i {
    padding: 10px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

.mainProduct .produt_slide {
    margin: 0 -15px;
}

.mainProduct figure {
    position: relative;
    margin: 0 15px;
}

.mainProduct figure .case {
    overflow: hidden;
    margin: 0 0 10px 0;
}

.mainProduct figure .order_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
}

.mainProduct figure:hover .order_btn {
    display: block;
}

.mainProduct .produt_slide_controller {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.mainProduct .produt_slide_controller ul {
    display: flex;
    gap: 2px;
}

.mainProduct .produt_slide_controller ul button {
    padding: 3px;
    background: #ff6347;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 13px;
}

.mainCustomer .main_tab_menu {
    display: flex;
    gap: 1px;
}

.mainCustomer .main_tab_menu>li {
    flex: 1;
}


.mainCustomer .main_tab_menu>li button {
    display: block;
    width: 100%;
    background: #ff6347;
    color: #fff;
    line-height: 40px;
    padding: 0 0 0 15px;
}

.mainCustomer .main_tab_menu>li.on button {
    background: #333247;
}

.mainCustomer .main_tab_content>li {
    display: none;
}

.mainCustomer .main_tab_content>li.on {
    display: block;
}